APP_NAME=Menu Admin API
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+psycopg://menu:menu_password@db:5432/menu_db

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=*
